@model MyDoctor.Models.updateRelativeBeatyandHealthy

@{
    ViewData["Title"] = "Details";
}



    <div class="container" style="justify-content:center">




        <div class='row' >
            <p>@Model.Address</p>
            <iframe scrolling='no' frameborder='0' border='0' cellspacing='0' style='border-style: none; ' src='@Model.ImageOrvideo' />
            </iframe >
            <p>@Model.subject</p>
        </div>
    </div>
