@model string



    <input style="display:none" id="DiseaseName" value="@Model" />

    <div id="Comments" style="display:none;">
      
    </div>


<script>
    $(document).ready(function () {
        var diseaseName = $("#DiseaseName").val();

        $.ajax({
            url: `/Diseases/AllComment?DiseaseName=${diseaseName}`,
            method: 'Get',
            success: function(data) {

                $.each(data,
                    function(index, value) {

                        $("#Comments").append(
                            ` <a class="dropdown-item d-flex align-items-center mb-4" href="#">
                                                <div class="mr-3">
                                                    <div class="icon-circle bg-primary">

                                                        <img class="img-profile rounded-circle" style="max-width: 50px;" src="/images/${value.imagePath ? value.imagePath : "Defulat.jpg"}">
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="small text-gray-500">${value.userName}</div>
                                                    <span class="font-weight-bold">${value.commment}</span>
                                                </div>
                                            </a>`
                        );
                    });

            }

        });

        
    });
</script>
