
@model MyDoctor.Models.Disease
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<hr />

<div class="input-group mb-3">
    <input name="DiseaseName" style="display:none" value="@Model.DiseaseName" id="_DiseaseName" class="form-control" type="text" />
    <input type="text" name="Commment" value="" class=" form-control" id="Comment" placeholder="Write Your Comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button  class=" input-group-text" id="basic-addon2">Create</button>
    </div>
</div>
<div id="Comments">

</div>






<script>
    $(document).ready(function () {
        var comment=() => {
            var comment = $("#Comment").val();
            var diseaseName = $("#DiseaseName").val();
            var obj = { Comment: comment, DiseaseName: diseaseName };
            return obj;
        };
        var appendComments = (comments) => {
            $.each(comments,
                function(index, value) {

                    $("#Comments").append(
                        ` <a class="dropdown-item d-flex align-items-center mb-4" href="#">
                                                <div class="mr-3">
                                                    <div class="icon-circle bg-primary">

                                                        <img class="img-profile rounded-circle" style="max-width: 50px;" src="/images/${value.imagePath ? value.imagePath : "Defulat.jpg"}">
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="small text-gray-500">${value.userName}</div>
                                                    <span class="font-weight-bold">${value.commment}</span>
                                                </div>
                                            </a>`
                    );
                });
        }
        var reloadComments=(diseaseName) => {
            $("#Comment").val("");
            $("#Comments").load(`/diseases/AllComment?DiseaseName=${diseaseName}`, function (response, status, xhr) {
                   var comments = jQuery.parseJSON($("#Comments").html());
                    $("#Comments").html("");
                   appendComments(comments);


            });
        };
        $("#basic-addon2").on("click",()=>{

            
            $.ajax({
                url: "/diseases/AppComment",
                type: "GET",
                data: comment(),
                success: function (data) {
                    var diseaseName = $('#_DiseaseName').val();
                    reloadComments(diseaseName);
                },
                error: function () { console.error("Error"); }

                
            });
        });
    });
</script>
