@model string

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <input type="text" style="display:none" value="@Model" id="Disease" />
    <span class="Likevalue" id="Likevalue"></span> <button class="btn btn-default  Like" id="Like">Like</button>
     <span class="DisLikevalue" id="DisLikevalue"></span> <button class="btn btn-default Dislike" id="Dislike">DisLike</button>

    <button class="btn btn-primary test"><i>Icon</i>Message</button>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    
    
    $(document).ready(function () {
         let numberofclicklike = 0;
        let numberofclickdislike = 0;
        let clicklike = false;
        let clickdislike = false;
         setTimeout(function () {
            $.ajax({

                url: "/LikeandDislikeclasses/Index?" + "Diseasename=" + diseasename,
                method: 'Get',


                success: function (Data) {
                    if (Data != null) {
                        console.log(Data);
                       
                       


                        $('.Likevalue').html(Data.like);
                        $('.DisLikevalue').html(Data.disLike);
                    }
                    else {
                        console.log("Data is null");
                    }


                },
                complete: function (jqerxhr) {
                    if (jqerxhr.status == '200') {
                        console.log("success");
                        
                    }
                    else {
                        console.log("errorlikeanddislike");
                    }

                }

            });
             if (localStorage.getItem('clicklike') != null) {
                 clicklike = true;
                 $(".Like").toggleClass("btn-primary");
                 numberofclicklike = 1;

             }
             if (localStorage.getItem('clickdislike') != null) {
                 clickdislike = true;
                 $(".Dislike").toggleClass("btn-primary");
                 numberofclickdislike = 1;
             }
         }, 0);

        let diseasename = document.getElementById("Disease").getAttribute('value');
        
       
        window.onbeforeunload = function () {
            
            if (clicklike && numberofclicklike==1) {

                
                $.ajax({


                    url: "/LikeandDislikeclasses/Like?" + "Diseasename=" + diseasename,
                    method: 'Get',



                    complete: function (jqerxhr) {
                        if (jqerxhr.status == '200') {
                            console.log("success");

                        }
                        else {
                            console.log("errorlikeanddislike");
                        }

                    }

                });
                if (localStorage.getItem('clicklike') == null) {
                    localStorage.setItem('clicklike', true);
                    if (localStorage.getItem('clickdislike') != null) {
                        localStorage.removeItem('clickdislike');
                    }
                }
                
            }
            if (clickdislike && numberofclickdislike == 1) {
               
                $.ajax({


                    url: "/LikeandDislikeclasses/DisLike?" + "Diseasename=" + diseasename,
                    method: 'Get',



                    complete: function (jqerxhr) {
                        if (jqerxhr.status == '200') {
                            console.log("success");

                        }
                        else {
                            console.log("errorlikeanddislike");
                        }

                    }

                });
                   if (localStorage.getItem('clickdislike') == null) {
                    localStorage.setItem('clickdislike', true);
                    if (localStorage.getItem('clicklike') != null) {
                        localStorage.removeItem('clicklike');
                    }
                }
            }
        }
        $('.Like').on("click", function () {
            let dislikenumber = $("#DisLikevalue").text();
            let likenumber = $("#Likevalue").text();

            if (clickdislike) {
                if (numberofclickdislike == 1) {
                    document.getElementById("DisLikevalue").innerHTML = (parseInt(dislikenumber) - 1).toString();
                }
                

                document.getElementById("Likevalue").innerHTML = (parseInt(likenumber) + 1).toString();
                numberofclicklike = 1;
            }
            else {
                if (numberofclicklike < 1) {
                    document.getElementById("Likevalue").innerHTML = (parseInt(likenumber) + 1).toString();
                    numberofclicklike = 1;
                }
                else {
                    document.getElementById("Likevalue").innerHTML = (parseInt(likenumber) - 1).toString();
                    numberofclicklike = 0;
                }
               
            }
            clicklike = true;

           clickdislike = false;
            $(this).toggleClass("btn-primary");
            let dislikeelement = document.getElementById("Dislike").className;
            if (dislikeelement.split(' ').includes("btn-primary")) {
                $(".Dislike").toggleClass("btn-primary");
            }



        });

        $('.Dislike').on("click", function () {

             dislikenumber = $("#DisLikevalue").text();
             likenumber = $("#Likevalue").text();
            console.log(clicklike);
            if (clicklike) {
                if (numberofclicklike == 1) {
                     document.getElementById("Likevalue").innerHTML = (parseInt(likenumber) - 1).toString();
                }
               

                document.getElementById("DisLikevalue").innerHTML = (parseInt(dislikenumber) + 1).toString();
                numberofclickdislike = 1;
            }
            else {
                if (numberofclickdislike < 1) {
                    document.getElementById("DisLikevalue").innerHTML = (parseInt(dislikenumber) + 1).toString();
                    numberofclickdislike = 1;
                }
                else {
                    document.getElementById("DisLikevalue").innerHTML = (parseInt(dislikenumber) - 1).toString();
                    numberofclickdislike = 0;
                }
               
            }
            clicklike = false;
           clickdislike = true;

            $(this).toggleClass("btn-primary");
            let dislikeelement = document.getElementById("Like").className;
            if (dislikeelement.split(' ').includes("btn-primary")) {
                $(".Like").toggleClass("btn-primary");
            }

        });

        
    });
       


  







</script>