@model string
<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<input type="text" value="@Model" style="display:none" id="diseasename" />

<div id="_RelativeSubject" class="row">

</div>

<script>

    $(document).ready(function () {
        var relativeSubject=()=>
        {
            var diseasename = $('#diseasename').val();

            $.ajax({
                url: `/GetRelativeSubject/Index?relativeitem=${diseasename}`,
                type: "Get",
                success: function (data) {

                    $.each(data, function (index, value) {
                        $("#_RelativeSubject").append(
                            ` <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">${diseasename}</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">${value.description}</div>
                                            <a class="h5 mb-0 font-weight-bold text-gray-800" href='/Posts/Details?id=${value.id}'>See More &rarr;</a>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
    `


                        );

                    });
                }
            });
        }
        relativeSubject();


    });

</script>