@model MyDoctor.Models.Disease

@{
    ViewData["Title"] = "Create";
}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block">

                    <img src="~/Content/img/63572996-health-logo-template.jpg" style="max-width: 350px;" />
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create Disease</h1>
                        </div>
                        <form class="user" asp-action="Create" id="CreateCatagory">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">


                                <input asp-for="DiseaseName" class="form-control form-control-user" placeholder="DiseaseName" />
                                <span asp-validation-for="DiseaseName" class="text-danger"></span>



                            </div>
                            <div class="form-group">
                                <textarea asp-for="Subject" class="form-control " placeholder="Subject"></textarea>

                                <span asp-validation-for="Subject" class="text-danger"></span>

                            </div>

                            <div class="form-group">

                                <input asp-for="Reasons" class="form-control form-control-user" placeholder="Reasons" />
                                <span asp-validation-for="Reasons" class="text-danger"></span>

                            </div>

                            <div class="form-group">

                                <input asp-for="Protection" class="form-control form-control-user" placeholder="Protection" />
                                <span asp-validation-for="Protection" class="text-danger"></span>

                            </div>
                            <div class="form-group">

                                <input asp-for="Medicin" class="form-control form-control-user" placeholder="Medicin" />
                                <span asp-validation-for="Medicin" class="text-danger"></span>

                            </div>
                            <div class="form-group">

                                <input asp-for="Image" class="form-control form-control-user" placeholder="Image" />
                                <span asp-validation-for="Image" class="text-danger"></span>

                            </div>
                            <a href="javascript:document.getElementById('CreateCatagory').submit()" class="btn btn-primary btn-user btn-block">
                                Add Disease
                            </a>
                            <hr />
                            <a href="Index" class="btn btn-primary btn-user btn-block">
                                All  Disease &rarr;
                            </a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>



