@model string

<div>
   

    <input style="display:none" id="DiseaseName" value="@Model" />
    
    <div class="RelativeDisease">

    </div>
</div>

    <script>

        $(document).ready(function() {
           
            var styleRelativeDisease = (obj, diseaseName) => {
                var resuilt = `

                <div class="col-lg-12 mb-4" id=''>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">${diseaseName}</h6>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="${obj.imageOrvideo}" alt="">
                            </div>
                            <p${obj.diseaseAddress}</p>
                            <a href="/Diseases/RelativeDetails?id=${obj.id}">See More &rarr;</a>
                        </div>
                    </div>



                </div>
                                `;
                $(".RelativeDisease").append(resuilt);

            };
            var appendData = (data, diseaseName) => {
                $.each(data,
                    function (index, value) {
                        styleRelativeDisease(value, diseaseName);

                    });
            }
            var loadRelative = (diseaseName) => {
                $.ajax({
                    url: `/RelativeDiseases/Index?diseaseName=${diseaseName}`,
                    method: 'Get',
                    success: function (data) {
                        appendData(data,diseaseName);


                    }

                });
            };
            //Load Relative Data For This Disease
            loadRelative($('#DiseaseName').val());
            

           

        });
    </script>



