@model MyDoctor.Models.RelativeDisease

    <div class="row">
        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">@Model.DiseaseAddress</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="@Model.ImageOrvideo" alt="">
                    </div>
                    <p>@Model.subject</p>

                </div>
            </div>



        </div>
    </div>


