@model MyDoctor.Models.Medicin









<div class="col-lg-12 mb-4">

    <!-- Illustrations -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.name</h6>
        </div>
        <div class="card-body">
            <div >
                <h4 class="m-0 font-weight-bold text-primary">Affects</h4>
                <p>@Model.affects</p>
                <h4 class="m-0 font-weight-bold text-primary">Indeications</h4>
                <p>@Model.indications</p>
                <h4 class="m-0 font-weight-bold text-primary">Price</h4>
                <p>@Model.price</p>
            </div>
           
           
        </div>
    </div>



</div>
