@model MyDoctor.Models.Medicin

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Medicin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="affects" class="control-label"></label>
                <input asp-for="affects" class="form-control" />
                <span asp-validation-for="affects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="indications" class="control-label"></label>
                <input asp-for="indications" class="form-control" />
                <span asp-validation-for="indications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diseasespecific" class="control-label"></label>
                <input asp-for="diseasespecific" class="form-control" />
                <span asp-validation-for="diseasespecific" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

