@model IQueryable<MyDoctor.ViewModels.Medicngroup>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#txtEmpName").keyup(function () {
            let valueoftxt = $(this).val();
            
            $.ajax({
                type: "GET",
                url: "/Medicins/Search?searchparam="+valueoftxt,

                success: function (data) {
                    
                    $("#data").html(" ");
                   
                    $.each(data, function (index, value) {
                        $("#data").append(
                            `
 <div class="card border-left-primary shadow mb-4  py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Medicin Name</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/Medicins/Details/${value.id}" >${ value.name }</a></div>
                </div>
               
            </div>
        </div>
    </div>
`
                  );
                    });
                   
                },
                error: function (request,status,error) {
                    $("#data").html(" ");
                    $("#data").append("NO Resuilt");
                }
            });
        });
    });


</script>




<div class="row">

    <div class="searchbox col-sm-6 mb-5">
        <!-- Topbar Search -->

        <div class="input-group">
            <input type="text" id="txtEmpName" class="form-control bg-light border-0 small" placeholder="Search for Medicin..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>

        <div id="data">

        </div>


    </div>
    <hr />
    <div class="containtofdiseases col-sm-6">
        <p>All Disease</p>

        @foreach (var item in Model)
        {
    <div class="card border-left-primary shadow mb-4  py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Disease Name</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><a asp-action="AllDiseaseRelative" asp-controller="Medicins" asp-route-diseasename="@item.id">@item.id</a></div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
           
}
    </div>

</div>
<script>

    $(document).ready(function () {
        $('.itemmodel').on("click", function () {

            var hreftodetails = $(this).children()[0].getAttribute("href");

            location.href = hreftodetails;
        });

    });
</script>