@model MyDoctor.Models.Country
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Country</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="CreateEdit" id="CreateEditCountry">
                    <div class="form-group" style="display: none">
                        <label for="id-name" class="col-form-label">id</label>
                        <input name="Id" type="text" class="form-control" id="Country_Id" value="@Model.Id">
                    </div>
                    <div class="form-group" style="display: none">

                        <input name="CreateDate" type="text" class="form-control" id="CreateDate" value="">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name</label>
                        <input name="Name" value="@Model.Name" type="text" class="form-control" id="Country_Name">
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="document.getElementById('CreateEditCountry').submit()">Save</button>
            </div>
        </div>
    </div>
</div>
