@model MyDoctor.ViewModels.BeatyandHealthViewModel
@{
    ViewData["Title"] = "Details";
}
<!--**********************************
          Content body start
      ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">MyDoctor</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">@Model.BeatyandHealthy.Category</a></li>
            </ol>
        </div>
    </div>


    <div class="container-fluid">
       

        <!--Start Slider-->
        <div class="row">
            <div class="col-md-12 col-lg-8  ">
                <div class="card">
                    <img class="img-fluid" src="@Model.BeatyandHealthy.Image"/>
                    <div class="card-body">
                        <h4 class="card-title mb-0">@Model.BeatyandHealthy.Category</h4>

                    </div>
                </div>
            </div>
            
        </div>
        <!--End Slider-->
        <!--Start Department-->
        @await Html.PartialAsync("_Category", Model.Categories)
        <!--End Department-->
        <!--Start Relative Department-->
        @await Html.PartialAsync("_RelativeCategory", Model.RelativeCategories)
        <!--End Relative Department-->
        <!--Start Medicin-->
        @await Html.PartialAsync("_Medicin", Model.Medicins)
        <!--End Relative Medicin-->
        <!--Start Disease-->
        @await Html.PartialAsync("_Disease", Model.Diseases)
        <!--End  Disease-->
        <!--Start Disease-->
        @await Html.PartialAsync("_Doctor", Model.Doctors)
        <!--End  Disease-->

    </div>


</div>

<!--**********************************
    Content body end
***********************************-->
