@model IEnumerable<MyDoctor.Models.BeatyandHealthy>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">@item.Category</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="@item.Image" alt="">
                    </div>

                    <a asp-action="Details" asp-route-id="@item.Id">See More &rarr;</a>
                </div>
            </div>


        </div>
    }
</div>
