@model MyDoctor.Models.RelativeofBeatyandhealthy

@{
    ViewData["Title"] = "Details";
}



<div class="container">
    
 

        
        <div class='row' style="justify-content:center">
    <p>@Model.Address</p>
    <iframe scrolling='no' frameborder='0' border='0' cellspacing='0' style='border-style: none; ' src='@Model.ImageOrVideo'  />
    </iframe >
    <p>@Model.Subject</p>
        </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
