@page
@model LoginModel
<style>
    #accordionSidebar{
        display:none;
    }
</style>
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block">

                    <img src="~/Content/img/63572996-health-logo-template.jpg" style="max-width: 350px;" />
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Login</h1>
                        </div>
                        <form class="user" id="Login" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">


                                <input asp-for="Input.Email" class="form-control form-control-user" placeholder="Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>



                            </div>


                            <div class="form-group">

                                <input asp-for="Input.Password" class="form-control form-control-user" placeholder="Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <a href="javascript:document.getElementById('Login').submit()" class="btn btn-primary btn-user btn-block">
                                Login
                            </a>
                            <div class="form-group">
                                <p>
                                    <a asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                            </div>



                         

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
